Assigning

In [1]:
myNumber = 12
print(myNumber)

12

In [3]:
info = "Python name comes from Monty Phyton's Flying Circus"
print(info)

Python name comes from Monty Phyton's Flying Circus

In [4]:
pi = 3.1415
print(pi)

3.1415

In [5]:
n = 460
print(n)

460

In [6]:
print(a)

NameError: name 'a' is not defined

In [7]:
a = 1000
a

1000

Reassigning

In [8]:
myNumber = "Python Hands-On"
myNumber

'Python Hands-On'

Variables Names

In [9]:
1number = 1245

SyntaxError: invalid decimal literal (388009423.py, line 1)

In [10]:
average speed = 85

SyntaxError: invalid syntax (3979765169.py, line 1)

In [11]:
average_speed = 80
average_speed

80

In [12]:
@tenth = 10
@tenth

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2960287653.py, line 1)

In [13]:
ten@th = 10
ten@th

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1329142485.py, line 1)

In [14]:
*a = 45

SyntaxError: starred assignment target must be in a list or tuple (1810212927.py, line 1)

In [15]:
for = 4
for

SyntaxError: invalid syntax (1530693960.py, line 1)

In [16]:
a = 10
A = 45

45

In [17]:
print(a)

10

In [18]:
print(A)

45

In [19]:
num = 5
Num = 12

In [20]:
print(num)

5

In [21]:
print(Num)

12

In [22]:
Ω_omega = 80
print(Ω_omega)

80

In [23]:
omega = 80
print(omega)

80

TEXT TYPE

In [24]:
# str (string) with single quotes
text = 'This is a single quoted string'

In [25]:
type(text)

str

In [26]:
# str (string) with double quotes
text = "This is a double quoted string"
type(text)

str

NUMERIC TYPES

In [27]:
# int(integer)
integer_number = 16
type(integer_number)

int

In [28]:
#float
floating_point_number = 4.6
print(type(floating_point_number))

<class 'float'>

In [29]:
# complex
complex_number = 2+3j
print(type(complex_number))

<class 'complex'>

SEQUENCE TYPES

In [30]:
# list
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [31]:
type(my_list)

list

In [32]:
# tuple
three_letters = ('A','B','C')
print(three_letters)
type(three_letters)

('A', 'B', 'C')

tuple

In [33]:
# range
up_to_five = range(5)
print(up_to_five)
type(up_to_five)

range(0, 5)

range

In [35]:
for i in up_to_five:
    print(i)

0
1
2
3
4

MAPPING TYPE

In [36]:
# dictionary
user = {
    "name":"Musa",
    "last_name":"Arda",
    "language":"Python",
}
print(user)
type(user)

{'name': 'Musa', 'last_name': 'Arda', 'language': 'Python'}

dict

SET TYPES

In [37]:
# set
set_of_numbers = {1,2,2,3,1,3,4,4,1}
print(set_of_numbers)
type(set_of_numbers)

{1, 2, 3, 4}

set

BOOLEAN TYPE

In [38]:
# booleans
correct = True
wrong = False
print(correct)
print(wrong)

True
False

TYPE CONVERSION

In [1]:
# a string variable
str_num = "24"
type(str_num)

str

In [2]:
# convert it into integer
int_num = int(str_num)
type(int_num)

int

In [4]:
# create  a floating point number first
my_decimal = 3.71486

# convert it into integer
my_int = int(my_decimal)

# print the type of my_int
type(my_int)

int

In [6]:
my_float = float(4)
my_float

4.0

In [7]:
pi = float("3.14159")
print(pi)
print(type(pi))

3.14159
<class 'float'>

In [8]:
number_in_quotes = str(188)
print(type(number_in_quotes))
number_in_quotes

<class 'str'>

'188'

In [9]:
str(3.14159)

'3.14159'

PYTHON COMMENTS

In [10]:
#One Line Comment

# This is one line comment

In [11]:
# keeps the miles traveled
miles_traveled = 90000
print(miles_traveled)

90000

In [12]:
# average speed = displacemente / change in time
# frist get the displacement
displacement = 450 # km

# then get the change in time
change_in_time = 6 #hr

# calculate the average speed
average_speed = displacement / change_in_time

# print the result
print(average_speed)

75.0

In [13]:
"""

Multi-Line Comment

In Python, Multi-Line comments,
are created via a pair of triple quotes: """ """

As in this case.

"""

'\n\nMulti-Line Comment\n\nIn Python, Multi-Line comments,\nare created via a pair of triple quotes: \n\nAs in this case.\n\n'

In [15]:
multi_line_text = "Line 1 \nLine2 \nLine3"
print(multi_line_text)

Line 1
Line2
Line3

In [16]:
print("Hello my dear \nPython")

Hello my dear
Python

In [17]:
"""
    This is line 1
        This is line 2
            This is line 3
"""

'\n    This is line 1\n        This is line 2\n            This is line 3\n'

NUMERIC OPERATIONS

In [1]:
# define two variables
a = 30
b = 7

In [3]:
print(a + b) #addition

37

In [4]:
print(a - b) #subtraction

23

In [5]:
print(a * b) #multiplication

210

In [6]:
print(a / b) #division

4.285714285714286

In [7]:
print(a // b) #floor division (integer division)

4

In [8]:
print(a % b) #modulo

2

In [9]:
print(a ** b) #power - Exponent

21870000000

In [10]:
print( 4 * 5 - 9 + 14 / 7) #PEDMAS: Parenthesis, Exponents, Division, Multiplication, Addition, Subtraction

13.0

In [11]:
a = 9

# increment a by 1

a = a + 1
a

10

In [12]:
a = a + 4
a

14

In [13]:
# Shorthand Increment -> +=

a += 1 #a = a + 1
a

15

In [14]:
# Shorthand Decrement -> -=
a -= 6 #a = a -6
a

9

In [15]:
# Shorthand Multiply -> *=
a *= 5 # a = a * 5
a

45

In [16]:
# Shorthand Division -> /=
a /= 11 # a = a / 11
a

4.090909090909091

STRING OPERATIONS

In [17]:
string_double = "This is a double quotes string."
print(string_double)

This is a double quotes string.

In [18]:
string_single = 'This is a single quote string'
print(string_single)

This is a single quote string

In [19]:
# If you need to use both in the same string

single_in_double = "Python's the best language."
print(single_in_double)

Python's the best language.

In [20]:
double_in_single = 'Jenny said "Run, Forest, run", and he did.'
double_in_single

'Jenny said "Run, Forest, run", and he did.'

In [21]:
false_usage = "This is a 'double quote'

SyntaxError: unterminated string literal (detected at line 1) (33132969.py, line 1)

In [22]:
'4' - '3'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [23]:
'4' / '3'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [24]:
# define two string variables
first = "Sunny"
second = "Days"

In [25]:
# Addition in String (Concatenation)
first + second

'SunnyDays'

In [26]:
first + second + first + second

'SunnyDaysSunnyDays'

In [27]:
# Multiplication
4 * first

'SunnySunnySunnySunny'

In [28]:
6 * '5'

'555555'

In [29]:
3 * '8'

'888'