In [1]:
# Criado arquivos de dados
try:
    with open('james.txt', "w") as data:
        print("2-34,3:21,2.34,2.45,3.01,2:01,2:01,3:10,2-22", file=data)
except IOError as err:
    print('File erro: '+ str(err))

In [2]:
try:
    with open('julie.txt', "w") as data:
        print("2.59,2.11,2:11,2:23,3-10,2-23,3:10,3.21,3-21", file=data)
except IOError as err:
    print('File erro: '+ str(err))

In [3]:
try:
    with open('mikey.txt', "w") as data:
        print("2:22,3.01,3:01,3.02,3:02,3.02,3:22,2.49,2:38", file=data)
except IOError as err:
    print('File erro: '+ str(err))

In [4]:
try:
    with open('sarah.txt', "w") as data:
        print("2:58,2.58,2:39,2-25,2-55,2:54,2.18,2:55,2:55", file=data)
except IOError as err:
    print('File erro: '+ str(err))

In [5]:
# Abrindo os arquivos, lendo as linhas e usando os BIF's split and strip
with open('james.txt') as jaf:
    data = jaf.readline()
    james = data.strip().split(',')
    
with open('julie.txt') as juf:
    data = juf.readline()
    julie = data.strip().split(',')

with open('mikey.txt') as mif:
    data = mif.readline()
    mikey = data.strip().split(',')
    
with open('sarah.txt') as saf:
    data = saf.readline()
    sarah = data.strip().split(',')
    
#Exibindo as listas
print(sorted(james))
print(sorted(julie))
print(sorted(mikey))
print(sorted(sarah))

['2-22', '2-34', '2.34', '2.45', '2:01', '2:01', '3.01', '3:10', '3:21']
['2-23', '2.11', '2.59', '2:11', '2:23', '3-10', '3-21', '3.21', '3:10']
['2.49', '2:22', '2:38', '3.01', '3.02', '3.02', '3:01', '3:02', '3:22']
['2-25', '2-55', '2.18', '2.58', '2:39', '2:54', '2:55', '2:55', '2:58']

In [6]:
# ordenação de dados
data = [6,3,1,2,4,5]
data

[6, 3, 1, 2, 4, 5]

In [7]:
data.sort()
data

[1, 2, 3, 4, 5, 6]

In [8]:
data = [6,3,1,2,4,5]
data

[6, 3, 1, 2, 4, 5]

In [9]:
data2 = sorted(data)
data2
data

[6, 3, 1, 2, 4, 5]

In [10]:
data2

[1, 2, 3, 4, 5, 6]

In [11]:
def sanitize(time_string):
    if '-' in time_string:
        splitter = '-'
    elif ':' in time_string:
        splitter = ':'
    else:
        return(time_string)
    (mins, secs) = time_string.split(splitter)
    return (mins + '.' + secs)

In [12]:
with open('james.txt') as jaf: 
    data = jaf.readline()
    james = data.strip().split(',')
    
with open('julie.txt') as juf: 
    data = juf.readline()
    julie = data.strip().split(',')
    
with open('mikey.txt') as mif: 
    data = mif.readline()
    mikey = data.strip().split(',')
    
with open('sarah.txt') as saf: 
    data = saf.readline()
    sarah = data.strip().split(',')

In [13]:
# criando quatro listas vazias
clean_james = []
clean_julie = []
clean_mikey = []
clean_sarah = []

In [14]:
# Cada um dos itens de dados nas listas originais serão limpos e em seguida acrescentados a lista nova apropriada
for each_t in james:
    clean_james.append(sanitize(each_t))

for each_t in julie:
    clean_julie.append(sanitize(each_t))

for each_t in mikey:
    clean_mikey.append(sanitize(each_t))
    
for each_t in sarah:
    clean_sarah.append(sanitize(each_t))

In [15]:
# Mostra as novas listas classificadas/ordenadas
print(sorted(clean_james))

print(sorted(clean_julie))

print(sorted(clean_mikey))

print(sorted(clean_sarah))

['2.01', '2.01', '2.22', '2.34', '2.34', '2.45', '3.01', '3.10', '3.21']
['2.11', '2.11', '2.23', '2.23', '2.59', '3.10', '3.10', '3.21', '3.21']
['2.22', '2.38', '2.49', '3.01', '3.01', '3.02', '3.02', '3.02', '3.22']
['2.18', '2.25', '2.39', '2.54', '2.55', '2.55', '2.55', '2.58', '2.58']

In [16]:
# usando list comprehension
clean_mikey = [sanitize(each_t) for each_t in mikey]

In [17]:
clean_mikey

['2.22', '3.01', '3.01', '3.02', '3.02', '3.02', '3.22', '2.49', '2.38']

In [18]:
# Outros exemplos de uso de list comprehension
mins = [1,2,3]
secs = [m * 60 for m in mins] #multiplica cada item da lista mins por 60, e inlui na cada valor na nova lista secs
secs

[60, 120, 180]

In [19]:
# metros em pés
meters = [1, 10, 3]
feet = [m * 3.281 for m in meters] # 1 metro é igual a 3.281 pés
feet

[3.281, 32.81, 9.843]

In [20]:
# aplicação em strings
lower = ["I", "don't", "like", "spam"]
upper = [s.upper() for s in lower]
upper

['I', "DON'T", 'LIKE', 'SPAM']

In [21]:
# processando as listas de tempos usando list comprehension
sorted([sanitize(t) for t in james])

['2.01', '2.01', '2.22', '2.34', '2.34', '2.45', '3.01', '3.10', '3.21']

In [22]:
sorted([sanitize(t) for t in julie])

['2.11', '2.11', '2.23', '2.23', '2.59', '3.10', '3.10', '3.21', '3.21']

In [23]:
sorted([sanitize(t) for t in mikey])

['2.22', '2.38', '2.49', '3.01', '3.01', '3.02', '3.02', '3.02', '3.22']

In [24]:
sorted([sanitize(t) for t in sarah])

['2.18', '2.25', '2.39', '2.54', '2.55', '2.55', '2.55', '2.58', '2.58']

In [25]:
# Usanto iterações para limpar itens repetidos das listas
clean_james = sorted([sanitize(t) for t in james])
clean_julie = sorted([sanitize(t) for t in julie])
clean_mikey = sorted([sanitize(t) for t in mikey])
clean_sarah = sorted([sanitize(t) for t in sarah])

unique_james = [] #Cria a lista vazia para manter os itens de dados únicos
unique_julie = []
unique_mikey = []
unique_sarah = []

for each_t in clean_james: #Itera os dados existentes
    if each_t not in unique_james: # se o item de dados ainda não estiver na nova lista
        unique_james.append(each_t) # acresce o item a lista de dados únicos
        
for each_t in clean_julie: #Itera os dados existentes
    if each_t not in unique_julie: # se o item de dados ainda não estiver na nova lista
        unique_julie.append(each_t) # acresce o item a lista de dados únicos
        
for each_t in clean_mikey: #Itera os dados existentes
    if each_t not in unique_mikey: # se o item de dados ainda não estiver na nova lista
        unique_mikey.append(each_t) # acresce o item a lista de dados únicos

for each_t in clean_sarah: #Itera os dados existentes
    if each_t not in unique_sarah: # se o item de dados ainda não estiver na nova lista
        unique_sarah.append(each_t) # acresce o item a lista de dados únicos

print(unique_james[0:3]) #exibe os três primeiros itens da lista usando slice
print(unique_julie[0:3])
print(unique_mikey[0:3])
print(unique_sarah[0:3])

['2.01', '2.22', '2.34']
['2.11', '2.23', '2.59']
['2.22', '2.38', '2.49']
['2.18', '2.25', '2.39']

In [26]:
# Uso de conjuntos: set()
distances = set()

distances = {10.6, 11, 8, 10.6, "two", 7}

print(distances)

{'two', 7, 8, 10.6, 11}

In [33]:
print(james)
print(sorted(set([sanitize(t) for t in james]))[0:3])

['2-34', '3:21', '2.34', '2.45', '3.01', '2:01', '2:01', '3:10', '2-22']
['2.01', '2.22', '2.34']